<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg">
      <h1 style="text-align:center;">Buscador de Repositorios de GitHub</h1>
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="container">
          <div class="row">
            <div class="form-group col-12">
              <input type="text" formControlName="search" class="form-control">
            </div>
            <div class="col-12" style="margin: 0 auto; text-align:center;">
              <button class="btn btn-primary" type="submit" style="margin: 0 auto; text-align:center;">Buscar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<accordion [closeOthers]="oneAtATime">
  <div *ngFor="let repo of search">

    <accordion-group class="btn" heading="Repositorio: {{repo.name}}, Dueño: {{repo.owner.login}}" (click)="onSelectedRepo(repo.name, repo.owner.login)">

      <ul *ngFor="let comment of comments" class="list-group">
        <li class="list-group-item" style="overflow-wrap: break-word; word-break: break-word;">{{ (comment.body.length>100)? (comment.body | slice:0:100)+'..':(comment.body) }}</li>
      </ul>

    </accordion-group>
  </div>
</accordion>